*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.bat text eol=crlf
*.sh text eol=lf
*.bin binary
*.safetensors filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text

